
.btn-primary {
    background-color:  #FF9900 !important;
    border-color: #FF9900 !important;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: #f69300 !important;
    border-color: #f69300 !important;
  }

.link{
    color:#FF9900!important;
}

.font700{
    font-family: 'Poppins', sans-serif !important;
    font-weight:700 !important;
}
.font600{
    font-family: 'Poppins', sans-serif !important;
    font-weight:600 !important;
}
.font500{
    font-family: 'Poppins', sans-serif !important;
    font-weight:500 !important;
}
.font400{
    font-family: 'Poppins', sans-serif !important;
    font-weight:400 !important;
}
#card{
    border-style: none !important;
    background-color:transparent !important;
}
#card-body{
    padding-left:0px !important ;
    padding-right:0px !important ;
}
#card-text{
    font-size:16px !important;
    color:#544837 !important;
    
}



#iii{
    background-image: url("labPics/Bg.png")!important;
    background-position:center;
    background-position-y:bottom;
}

#iiii{
    background-image: url("labPics/Oval.png")!important;
    background-position:center;
    background-position-y:top;
}

.say{
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    width: 250px;
}